Options -Indexes

# Controlador frontal
DirectoryIndex index.php



<IfModule mod_authz_core.c>
    <FilesMatch "^(\.env|composer\.(json|lock)|phpunit\.xml|README.*\.md)$">
        Require all denied
    </FilesMatch>
</IfModule>



<IfModule mod_rewrite.c>
    RewriteEngine On

    
    RewriteRule ^(?:bootstrap|config|database|scripts|src|tests|vendor|views)(?:/|$) - [F,L,NC]

    
    # Publicar recursos estáticos
    # Ejemplo: /assets/css/style.css
    #          -> /public/assets/css/style.css
    
    RewriteRule ^assets/(.*)$ public/assets/$1 [L,NC]

    
    # Controlador frontal
    # Todas las rutas que no correspondan a un archivo
    # o directorio existente pasan por index.php
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]

</IfModule>
